body{
    margin: 130px;
    color:  azure;
    background-image: url(tel.png);
}
input{
    background-color: black;
    color: beige;
}

.botao{
	border-radius: 20px ;
	border-style: solid;
}

